# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
*/.vscode/*
*/!.vscode/settings.json
*/!.vscode/tasks.json
*/!.vscode/launch.json
*/!.vscode/extensions.json
*/*.code-workspace

Saves/*.gxy
Library\Sprites\*.gxy
